/*
    Global Styles
*/

* {
    box-sizing: border-box
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #24292e;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    line-height: 1.5;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
